.displayFlex {
  width: 100%;
}

.container {
  background-color: white;
}

.navList {
  display: flex;
  align-items: center;
}

.hero-section {
  text-align: center;
  margin-top: 50px;
}

.heroSectionGap {
  gap: 50px;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 24;
}

.footer {
  padding: 2rem 0;
  background-color: #333;
}

.footer a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #007bff;
}

.footer h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}
